{% extends "barangay/base.html" %}
{% load static %}
{% block content %}
<div class="content container-fluid">
    <div class="row">
        
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>About us</h4>
                </div>
                <div class="card-body">
                    At Barangay Tumaga SafeNest Group, we are a passionate team of students committed to ensuring public safety within Barangay Tumaga. With unwavering dedication, we collaborate to implement effective measures and promote well-being. Our mission extends beyond the classroom; it’s a calling to protect and serve. From emergency response planning to community outreach, we strive to create a secure environment where everyone feels protected. Join us in our collective effort to make Barangay Tumaga a safer place for all.sss
                </div>
            </div>
        </div>
        
        
    </div>
    
</div>
{% endblock content %}
    