<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll ">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"></li>

                {% if users.roles == '1' %}
                    <li class="">
                        <a href="{% url 'officials' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'history' %}"><i class="fi fi-rr-calendar-clock"></i> <span>History</span></a>
                    </li>
                    
                    <li class="">
                        <a href="{% url 'officials' %}"><i class="fi fi-rr-journal-alt"></i><span>Record</span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'system_users' %}"><i class="fi fi-rr-member-list"></i> <span>Users</span></a>
                    </li>
                    
                    
                {% else %}
                <li class="">
                    <a href="{% url 'officials' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                </li>
                <li class="">
                    <a href="{% url 'history' %}"><i class="fi fi-rr-calendar-clock"></i> <span>History</span></a>
                </li>
                {% endif %}
                <li class="">
                    <a href="{% url 'aboutus' %}"><i class="fi fi-rr-info"></i> <span>About us</span></a>
                </li>
                    
                    
                
                
               
            </ul>
        </li>
    </ul>
    </div>
    </div>
    </div>